html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.item img{
    width: 100%;
}
.item .anhduoi{
    position: relative;
    height: 330px;
    transition: 0.4s;
    overflow: hidden;
}
.item:hover .h_lopmo{
    opacity: 0.7;
    transition: all 0.3s ease;
}
.h_3icon{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    opacity: 0;
    transition: all 0.4s ease;
    
}
.item:hover .h_3icon{
    opacity: 0.7;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    transition: all 0.3s ease;
}
.h_3icon nav ul li a:hover{
    color: red;
    transition: all 0.3s ease;
}
.item:hover .h_anhtren{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
}

.item:hover .h_anhduoi {
    top: 500px;
}

.h_3icon nav ul li{
    float: left;
    border: 1px solid black;

    padding: 5px;
    margin-right: 1px;
}
.h_3icon nav ul li a{
    display: inline-block;
    height: 16px;
    color: black;
}
.h_cuoi{
    border-right: 1px solid black;
}
.h_anhtren{
    position: absolute;
    top:-350px;
    left: 0;
    z-index: 2;
    transition: all 0.4s ease;
}
.h_anhtren img{
    height: 330px;
    object-fit: cover;
}
.h_anhduoi{
    position: absolute;
    top:0px;
    left: 0;
    z-index: 1;
    transition: 0.4s;
}
.h_anhduoi img{
    height: 330px;
    object-fit: cover;
}
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 5px;
}
.h_lopmo{
    width: 100%;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    transition: 0.4s;
    opacity: 0;
}
.item{
    text-align: center;
    margin-bottom: 20px;
    /* float: left; */
    
}
.h_allproduct .col-md-4,.h_allproduct .col-md-3{
    padding: 0px;
    border: 1px solid #ebebeb;
}
.item a{
    text-decoration: none;
    font-family: Teko;
}
.item .h_namecate a{
    color: #888;
    font-size: 12px;

}
.item .h_namepro a{
    color: #000;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}
.item .h_price a{
    color:red;
}
.item .h_add{
    height: 40px;
}
.item .h_add a{
    background-color: #000;
    color: white;
    padding: 10px;
    display: inline-block;
    width: 100px;
    /* border-radius: 5px; */
}
.item .h_add a:hover{
    background-color: red;
    transition: all 0.4s ease;
}
/* .responsive {
    width: 100%;
    max-width: 400px;
    height: 330px;
} */
@media only screen and (max-width: 600px) {
    /* .h_3icon{
        position: absolute;
        top: 55%;
        left: 28%;
        z-index: 4;
        opacity: 0;
        transition: 0.4s;     
    }
    .item:hover .h_3icon{
        opacity: 0.7;
        position: absolute;
        top: 45%;
        left: 28%;
        z-index: 4;
    } */
  }
  @media only screen and (max-width: 800px) {
    /* .h_3icon{
        position: absolute;
        top: 55%;
        left: 25%;
        z-index: 4;
        opacity: 0;
        transition: 0.4s;     
    }
    .item:hover .h_3icon{
        opacity: 0.7;
        position: absolute;
        top: 45%;
        left: 25%;
        z-index: 4;
    } */
  }
  @media only screen and (max-width: 1200px) {
    /* .h_3icon{
        position: absolute;
        top: 55%;
        left: 22%;
        z-index: 4;
        opacity: 0;
        transition: 0.4s;     
    }
    .item:hover .h_3icon{
        opacity: 0.7;
        position: absolute;
        top: 45%;
        left: 22%;
        z-index: 4;
    } */
  }

.h_titleproduct{
    background-image: url(images/hungimges/text_products.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    padding:15px;
    
}
#h_section{
    margin-top: 50px;
}
.h_titleproduct ul{
    text-align: center;
}
.h_titleproduct ul li{
    list-style: none;
    display: inline-block;
}
.h_titleproduct ul li a{
    text-decoration: none;
    padding: 5px;
    font-family: Teko-Medium;
    font-size: 40px;
    color: black;
    cursor: pointer;
}
.h_titleproduct ul li a:hover{
    color: red;
    transition: all 0.3s ease;
}
.h_titleproduct .selected{
    color: red;
}

/* ==========================trang shop============================ */
.h_rowtren{
    background-color: black;
    height: 100px;
    width: 100%;
}
.h_titleshop_left{
    float: left;
    /* padding-left: 200px; */
}
.h_titleshop_left a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h_titleshop_right{
    float: right;
    /* padding-right: 200px; */
    padding-top:12px;
    color: white;
}
.h_titleshop_right a{
    color: white;
    text-decoration: none;
}
.h_titleshop_right a:hover{
    color: red;
}
.h_titleshop{
    padding:25px 110px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.h_rowduoi h4{
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
    font-family: "Gilroy","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: bold;
    color: black;
}
#menu{
    padding:0px 20px;
}
#menu h4{
    text-align: right;   
}
#menu h4:hover{
    cursor: pointer;
    color: red;
    transition: all 0.2s ease;
}
.h_listcate{
    padding: 15px;
}
.h_listcate nav ul li a{
    text-decoration: none;
    color: #626262;
    font-family: "Gilroy","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.h_listcate nav ul li a:hover{
    color: red;
    transition: all 0.1s ease;
}
.h_right_content_hearder{
    margin: 10px 0px;
    padding:9px;
    border-bottom: 1px solid #ebebeb;
}
.h_right_content_hearder_left{
    font-size: 10px;
    float: left;
    height: 19px;
    padding-top: 7px;
}
.h_right_content_hearder_right{
    float: right;
}
.h_right_content_hearder_right a{
    color: #626262;
}
.h_right_content_hearder_left p{
    height: 19px;
}
.h_right_content_hearder_right select{
    padding: 5px;
}
.h_right_content_hearder_left a{
    text-decoration: none;
    color: #626262;
}
.h_right_content_hearder_left a:hover{
    color: red;
    transition: all 0.2s ease;
}
.h_right_content_pagination{
    padding: 40px 0px;
}
.h_right_content_pagination nav ul{
    text-align: center;

}
.h_right_content_pagination nav ul li{
    display: inline-block;
    width: 25px;
    height: 25px;
}
.h_right_content_pagination nav ul li a{
    text-decoration: none;
    color: #626262;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold; 
}
.h_right_content_pagination nav ul li a:hover{
    color: red;
}
.selected_pagination a:hover{
    color: white !important;
}
.h_right_content_pagination .selected_pagination{
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
}
.h_right_content_pagination .selected_pagination a{
    color: black;
}
.h-hide{
    display: inline-block;
}
.h-show{
    display: none;
}
.h_right_content_content .col-md-4{
    padding: 0px;
    border: 1px solid #ebebeb;
}

@media only screen and (max-width: 992px) {
    .h-show{
        display: inline-block;
    }  
    .h-hide{
        display: none;
    }
}
/* @media only screen and (max-width: 768px) {
    .h-show{
        display: inline-block;
    }  
    .h-hide{
        display: none;
    }
} */

/* menu trái */
.menutrai{
    /* width: 40%;
    height: 100%;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    transform: translateX(-400px);
    transition: 0.4s; */
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 60px;
    box-shadow: -1px -1px 10px grey;
    transform: translateX(-400px);
}
#menu::-webkit-scrollbar{
    width: 4px;
}
#menu::-webkit-scrollbar-track{
    background: #f1f1f1;
}
#menu::-webkit-scrollbar-thumb{
    background: #888;
}
#menu::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.traisang{
    transform: translateX(0px);
}
/* màu filter */
.color-label{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50px;
}
.h_listcolor nav ul li{
    float: left;
    width: 34px;
    padding: 3px;
    height: 34px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* size filter */
.h_listsize nav ul li{
    float: left;
    /* border: 1px solid #ebebeb; */
    margin-right: 5px;
    /* width: 50px; */
    text-align: center;
    /* padding: 5px; */
}
.h_listsize nav ul li a{
    text-decoration: none;
    width: 50px;
    margin-right: 5px;
    color: black;
    display: inline-block;
    border: 2px solid #ebebeb;
    margin-bottom: 5px;
}
.h_listsize nav ul li a:hover{
    border: 2px solid red;
    color: red !important;
}

#menu .h_listcolor{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
}
#menu .h_listcate{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
}
#menu .h_listsize{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
    margin-bottom: 20px;
}






table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}



/* ======================================Trang productDetail ==================================== */
#productDetail .h_titleshop{
    text-align: center;
    
}
#productDetail .h_titleshop a{
    color: white;
}
#productDetail .h_titleshop a:hover{
    color: red;
}
#productDetail .h_rowtren{
    padding-top: 14px;
}
#productDetail .h_khungto_left{
    width: 100%;
    height: 500px;
}
#productDetail .h_khungto_right{
    padding:0px 15px;
}
#productDetail .h_khungto_right h3{
    color: black;
    font-weight: bold;
    font-family: "Gilroy","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 30px;
    margin-top: 0px;
}
#productDetail .h_fivestar{
    font-size: 10px;
    padding: 10px 0px;
}
#productDetail span{
    font-size: 12px;
    padding: 10px 0px;
}
#productDetail .h_price{
    color: #ef3636;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px;
}
#productDetail .h_out_stock{
    padding: 10px 0px;
    background-color: #888;
    text-align: center;
    border-radius: 5px;
}
#productDetail .h_description{
    padding: 10px 0px;
}
#productDetail .h_out_stock p{
    margin: 0px;
    color: white;
    font-weight: bold;
}
#productDetail .h_add_compare{
    padding: 35px 0px;
}
.h_add_compare .h_add_wishlist{
    float: left;
    margin-right:20px;
}
.h_product_meta span{
   display: block;
   padding: 0px 0px !important;
}
.h_product_meta span a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.h_product_meta span i{
    margin-right: 5px;
    display: inline-block;
    padding-right: 5px;
}

