.item img{
    width: 100%;
}
.item .anhduoi{
    position: relative;
    height: 330px;
    transition: 0.4s;
}
.item:hover .h_lopmo{
    opacity: 0.7;
}
.item:hover .h_3icon{
    opacity: 0.7;
    position: absolute;
    top: 45%;
    left: 28%;
    z-index: 3;
}
.h_3icon nav ul li a:hover{
    color: red;
}
.item:hover .anhduoi{
    top: 0;
}
.h_3icon{
    position: absolute;
    top: 55%;
    left: 28%;
    z-index: 3;
    opacity: 0;
    transition: 0.4s;
    
}

.h_3icon nav ul li{
    float: left;
    border: 1px solid black;

    padding: 5px;
    margin-right: 1px;
}
.h_3icon nav ul li a{
    display: inline-block;
    height: 16px;
    color: black;
}
.h_cuoi{
    border-right: 1px solid black;
}
nav ul li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 5px;
}
.h_lopmo{
    width: 100%;
    height: 330px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    transition: 0.4s;
    opacity: 0;
}
.item{
    text-align: center;
    margin-bottom: 20px;
}
.item a{
    text-decoration: none;
    font-family: Teko;
}
.item .h_namecate a{
    color: #888;
    font-size: 12px;

}
.item .h_namepro a{
    color: #000;
    font-size: 26px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
}
.item .h_price a{
    color:red;
}
.item .h_add{
    height: 40px;
}
.item .h_add a{
    background-color: #000;
    color: white;
    padding: 10px;
    display: inline-block;
    width: 100px;
    border-radius: 5px;
}
.item .h_add a:hover{
    background-color: red;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: 330px;
}