

.nav-fixed{
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    padding: 5px 40px;
    box-shadow: -1px -1px 20px grey;
}

.scroll-up-js{
    display: block;
    animation: scroll-up .4s;
}

.scroll-down-js{
    display: block;
    animation: scroll-down .4s;
    top: -100px;
}


@keyframes scroll-up {
    0%   {top: -60px; opacity: 0;}
    35%  {top: -30px; opacity: 0.4;}
    100% {top: 0px; opacity: 1;}
}

@keyframes scroll-down {
    0%   {top: 0px;}
    35%  {top: -30px;}
    100% {top: -60px;}
}

.nav-fixed .nav-menu{
    padding: 0;
}

.btn-site{
    outline: none;
    padding: 16px;
    font-size: 13px;
    font-weight: 700;
    border: 3px solid #ef3636;
    border-radius: 3px;
    background-color: #ef3636;
    border-color: #ef3636;
    border-radius: 5px;
    color: #fff;
}

.btn-site-outline{
    outline: none;
    padding: 16px;
    font-size: 13px;
    font-weight: 700;
    border: 3px solid #ef3636;
    border-radius: 3px;
    background-color: transparent;
    border-radius: 5px;
    color: #ef3636;
}

.hover-down a{
    position: relative;
}

.hover-down div{
    /* display: none; */
    text-align: left;
    position: absolute;
    right: 0;
    top: 100%;
    /* opacity: 0; */
    z-index: 1000;
    /* margin-top: 20px; */
    background: #000;
}

.hover-down a:hover + div{
    height: 100px;
    display: block;
    background-color: #252525;
}

.slides {
    position: static;
}

.my-nav{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: none;
}

.carousel-inner .item{
    margin: 0;
    padding: 0;
}
.carousel-inner .item img{
    height: 891px;
    object-fit: cover;
}
.carousel-control.right,
.carousel-control.left{
    background: transparent;
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 30%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 30%;
}

.my-nav .nav-slogan {
    background-color: #252525;
    padding: 14px 28px;
}

.my-nav .nav-slogan .site-welcome {
    color: white;
    font-size: 14px;
}

.my-nav .nav-site {
    background-color: white;
}

.flex-container {
    display: flex;
    align-items: stretch;
}
  
.flex-container > div {
    /* background-color: DodgerBlue; */
    color: white;
    text-align: center;
    line-height: 75px;
}

.navbar-header a{
    padding: 7px;
    padding-right: 50px;
}

.nav-logo {
    flex-grow: 1;
    border-right: 1px solid #e0e0e0;
    line-height: 0px;
}

.nav-logo img{
    width: 175px;
    padding: 10px;
}

.nav-block{
    flex-grow: 9;
}

.block-flex{
    display: flex;
    flex-direction: column;
}

.nav-block > div {
    text-align: center;
    font-size: 30px;
}

.nav-menu{
    /* height: 30px; */
    padding: .5em .4em;
}
.menu-block li{
    padding: .4em .8em;
}

.menu-block li a {
    padding: .2em;
    font-size: 16px;
    font-weight: 900;
    color: black;
}

.menu-block li a:hover{
    background-color: transparent;
    color: red;
}

.menu-block li a i{
    font-size: 22px;
}

.active a{
    color: red !important;
    border-bottom: 3px solid red;
}

.cart{
    position: static;
}

.cart span{
    font-family: Gilroy;
    position: absolute;
    color: white;
    line-height: 18px;
    background-color: red;    
    font-size: 11px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -6px;
    left: 20px;
}

.price-amount{
    font-weight: 600;
}

.menu-block .nav-icon-bars{
    display: none;
}

.nav-search{
    height: auto;
    text-align: center;
    line-height: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.nav-search form input{
    padding: 16px 80px 16px 40px;
    width: 100%;
    line-height: 1;
    border: none;
    font-size: 14px;
    background-color: #fff;
    color: #606060;
    position: static;
    outline: none;
}

.nav-search form label{
    position: absolute;
    left: 1;
    margin-top: 12px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 23px;
    color: #ef3636;
}

.nav-search form button{
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 10px;
}

.header-child{
    padding: 7px 14px;
}

.header-child .block-column-wrap{
    padding: 7px;
}

.header-child .block-widget-wrap{
    position: static;
}

.header-child .block-widget-wrap .text-widget{
    position: absolute;
    top: 0;
}

.text-widget{
    padding: 60px;
    width: 100%;
}

.text-widget p{
    text-align: right;
    color: #969696;
    font-size: 16px;
}

.text-widget .main-text-widget h2{
    text-align: right;
    font-family: Teko;
    font-size: 40px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    background-color: transparent;
    z-index: 100;
    transform-origin: right;
}

.text-widget .main-text-widget h2 b{
    letter-spacing: 3px;
}

.text-widget a{
    margin-top: 40px;
    float: right;
    outline: none;
    color: #000;
    text-decoration: underline;
}

.text-widget a:hover{
    color: #fff;
}

.header-child .block-widget-wrap .img-hover-zoom img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.block-widget-wrap:hover img {
    transform: scale(1.5) rotate(15deg);
}

.block-widget-wrap:hover h2 {
    color: #ef3636;
}

/* Click - show cart */

.side-nav-cart{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -1px -1px 10px grey;
}

.side-nav-cart .side-header{
    border-bottom: #6060604f 1px solid;
}

.side-nav-cart .side-header h4{
    position: absolute;
    top: 8px;
    font-family: Teko-Medium;
    text-transform: uppercase;
    left: 20px;
    color: #252525;
    font-size: 27px;
}

.side-nav-cart .side-header a{
    position: absolute;
    top: 8px;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    right: 10px;
    font-size: 16px;
    margin-left: 50px;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    width: 85px;
    text-align: center;
}

.side-list-cart{
    display: flex;
    flex-direction: column;
    height: 100% ;
}

.cart-empty{
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
}

.side-list-cart .footed-cart{
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    border-top: #6060604f 1px solid;
}

.side-list-cart .footed-cart h4{
    font-family: Teko-Medium;
    padding: 10px 16px 20px 16px;
    text-transform: uppercase;
    width: 100%;
    font-size: 25px;
    color: #252525;
    display: block;
}
.side-list-cart .footed-cart h4 span{
    float: right;
}

.side-list-cart .footed-cart button{
    margin: 7px 14px;
    font-family: Gilroy-Bold;
    padding: 8px 16px;
    width: 315px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    /* float: left; */
}

.list-cart-child ul{
    height: 100%;
    overflow: auto;
}

.list-cart-child ul::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  .list-cart-child ul::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
  .list-cart-child ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.list-cart-child li{
    display: flex;
}

.list-cart-child li a{
    top: 50%;
    left: 50%;
    line-height: 30px;
    padding: 14px 10px;
    color: #606060;
    display: block;
}

.list-cart-child li img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.list-cart-child li a{
    top: 50%;
    left: 50%;
    line-height: 30px;
    padding: 14px 10px;
    color: #606060;
    display: block;
}

.list-cart-child li .cart-info-product{
    padding-left: 20px;
}

.list-cart-child li .cart-info-product h4{
    font-size: 15px;
    font-family: Gilroy-Bold;
}

.list-cart-child li .cart-info-product span{
    color: #ef3636;
}

#list-cart{
    padding: 10px;
    height: 100%;
}