
.slides .image-slide-page{
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.logo-mobile{
    flex-grow: 9;
    text-align: left;
    display: none;
}

.logo-mobile img{
    width: 140px;
    padding-left: 20px;
}

.nav-fixed{
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    padding: 5px 40px;
    box-shadow: -1px -1px 20px grey;
}

.scroll-up-js{
    display: block;
    animation: scroll-up .4s;
}

.scroll-down-js{
    display: block;
    animation: scroll-down .4s;
    top: -100px;
}


@keyframes scroll-up {
    0%   {top: -60px; opacity: 0;}
    35%  {top: -30px; opacity: 0.4;}
    100% {top: 0px; opacity: 1;}
}

@keyframes scroll-down {
    0%   {top: 0px;}
    35%  {top: -30px;}
    100% {top: -60px;}
}

.nav-fixed .nav-menu{
    padding: 0;
}

.btn-site{
    outline: none;
    padding: 16px;
    font-size: 13px;
    font-weight: 700;
    border: 3px solid #ef3636;
    border-radius: 3px;
    background-color: #ef3636;
    border-color: #ef3636;
    border-radius: 5px;
    color: #fff;
}

.btn-site-outline{
    outline: none;
    padding: 16px;
    font-size: 13px;
    font-weight: 700;
    border: 3px solid #ef3636;
    border-radius: 3px;
    background-color: transparent;
    border-radius: 5px;
    color: #ef3636;
}

.slides {
    position: static;
}

.my-nav{
    position: absolute;
    top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border-radius: none;
}

.my-nav-mobile{
    position: unset;
    margin: 0;
}

.my-nav .nav-icon-search{
    display: none;       
}

.carousel-inner .item{
    margin: 0;
    padding: 0;
    height: 891px;
}
.carousel-inner .item img{
    height: 100%;
    object-fit: cover;
}
.carousel-control.right,
.carousel-control.left{
    background: transparent;
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 30%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 30%;
}

.my-nav .nav-slogan {
    background-color: #252525;
    padding: 14px 28px;
}

.my-nav .nav-slogan .site-welcome {
    color: white;
    font-size: 14px;
}

.my-nav .nav-site {
    background-color: white;
}

.flex-container {
    display: flex;
    align-items: stretch;
}
  
.flex-container > div {
    /* background-color: DodgerBlue; */
    color: white;
    text-align: center;
    line-height: 75px;
}

.navbar-header a{
    padding: 7px;
    padding-right: 50px;
}

.nav-logo {
    flex-grow: 1;
    border-right: 1px solid #e0e0e0;
    line-height: 0px;
}

.nav-logo img{
    width: 175px;
    padding: 10px;
}

.nav-block{
    flex-grow: 9;
}

.block-flex{
    display: flex;
    flex-direction: column;
}

.nav-block > div {
    text-align: center;
    font-size: 30px;
}

.nav-menu{
    /* height: 30px; */
    padding: .5em .4em;
}
.menu-block li{
    padding: .4em .8em;
}

.menu-block li a {
    padding: .2em;
    font-size: 16px;
    font-weight: 900;
    color: black;
}

.menu-block li a:hover{
    background-color: transparent;
    color: red;
}

.menu-block li a i{
    font-size: 22px;
}

.active a{
    color: red !important;
    border-bottom: 3px solid red;
}

.cart{
    position: static;
}

.cart span{
    font-family: Gilroy;
    position: absolute;
    color: white;
    line-height: 18px;
    background-color: red;    
    font-size: 11px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -6px;
    left: 20px;
}

.price-amount{
    font-weight: 600;
}

.menu-block .nav-icon-bars{
    display: none;
}

.nav-search{
    height: auto;
    text-align: center;
    line-height: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.nav-search form input{
    padding: 16px 100px 16px 65px;
    width: 100%;
    line-height: 1;
    border: none;
    font-size: 14px;
    background-color: #fff;
    color: #606060;
    position: static;
    outline: none;
}

.nav-search form label{
    position: absolute;
    left: 1;
    margin-top: 12px;
    margin-left: 36px;
    font-weight: 400;
    font-size: 23px;
    color: #ef3636;
}

.nav-search form button{
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 10px;
}

.header-child{
    padding: 7px;
}

.header-child .block-column-wrap{
    padding: 7px;
}

.header-child .block-widget-wrap{
    position: static;
}

.header-child .block-widget-wrap .text-widget{
    position: absolute;
    top: 0;
}

.text-widget{
    padding: 60px;
    width: 100%;
}

.text-widget p{
    text-align: right;
    color: #969696;
    font-size: 16px;
}

.text-widget .main-text-widget h2{
    text-align: right;
    font-family: Teko;
    font-size: 40px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    background-color: transparent;
    z-index: 100;
    transform-origin: right;
}

.text-widget .main-text-widget h2 b{
    letter-spacing: 3px;
}

.text-widget a{
    margin-top: 40px;
    float: right;
    outline: none;
    color: #000;
    text-decoration: underline;
}

.text-widget a:hover{
    color: #fff;
}

.header-child .block-widget-wrap .img-hover-zoom img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.block-widget-wrap:hover img {
    transform: scale(1.5) rotate(15deg);
}

.block-widget-wrap:hover h2 {
    color: #ef3636;
}

/* Click - show cart */

.side-nav-menu-mobile,
.side-nav-cart{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: -1px -1px 10px grey;
}

.side-nav .side-header{
    border-bottom: #6060604f 1px solid;
}

.side-nav .side-header h4{
    position: absolute;
    top: 8px;
    font-family: Teko-Medium;
    text-transform: uppercase;
    left: 20px;
    color: #252525;
    font-size: 27px;
}

.side-nav .side-header a{
    position: absolute;
    top: 8px;
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    right: 10px;
    font-size: 16px;
    margin-left: 50px;
    color: inherit;
    padding: 10px;
    text-decoration: none;
    width: 85px;
    text-align: center;
}

.side-list-cart{
    display: flex;
    flex-direction: column;
    height: 100% ;
}

.cart-empty{
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
}

.side-list-cart .footed-cart{
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    border-top: #6060604f 1px solid;
    padding-bottom: 30px;
    padding-top: 10px;
}

.side-list-cart .footed-cart h4{
    font-family: Teko-Medium;
    padding: 10px 16px 20px 16px;
    text-transform: uppercase;
    width: 100%;
    font-size: 25px;
    color: #252525;
    display: block;
}
.side-list-cart .footed-cart h4 span{
    float: right;
}

.side-list-cart .footed-cart a{
    display: inline-block;
    margin: 7px 14px;
    padding: 8px 16px;
    width: 315px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Gilroy-Bold;
    color: #f1f1f1;
    text-decoration: none;
}

.list-cart-child ul{
    height: 100%;
    overflow: auto;
}

.list-cart-child ul::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
.list-cart-child ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.list-cart-child ul::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.list-cart-child ul::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.list-cart-child li{
    display: flex;
}

.list-cart-child li a{
    top: 50%;
    left: 50%;
    line-height: 30px;
    padding: 14px 10px;
    color: #606060;
    display: block;
}

.list-cart-child li img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.list-cart-child li a{
    top: 50%;
    left: 50%;
    line-height: 30px;
    padding: 14px 10px;
    color: #606060;
    display: block;
}

.list-cart-child li .cart-info-product{
    padding-left: 20px;
}

.list-cart-child li .cart-info-product h4{
    font-size: 15px;
    font-family: Gilroy-Bold;
}

.list-cart-child li .cart-info-product span{
    color: #ef3636;
}

#list-cart{
    padding: 10px;
    height: 100%;
}

.modal-header{
    border-bottom: 2px solid #EB4D36;
}

.modal-header button{
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    right: 10px;
    font-size: 16px;
    margin-left: 50px;
    padding: 10px;
}

.modal-header h4{
    font-family: Teko-Medium;
    text-transform: uppercase;
    font-size: 26px;
    color: #252525;
}

.modal-user{
    padding: 20px 40px;
}

.modal-body .form-site label{
    display: block;
}

.modal-body .form-site label span{
    color: #EB4D36;
}

.modal-body .form-site input{
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #6060604f;
}

.modal-body .form-site button{
    padding: 10px;
    width: 100%;
    font-family: Gilroy-Bold;
    margin-bottom: 10px;
}

.modal-body .form-site .btn-create-acc{
    display: inline-block;
    padding: 10px;
    width: 100%;
    font-family: Gilroy-Bold;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.modal-body .form-site .btn-create-acc:hover,
.modal-body .form-site button:hover{
    background-color: red;
    color: white;
}

.modal-body .form-site p{
    margin-top: 10px;
}

.modal-body .form-site p a{
    color: #EB4D36;
}

.modal-body .nav-search{
    border: none;
}

.modal-body .nav-search label{
    margin-left: 0px;
}

.modal-body .nav-search input{
    padding-left: 30px;
}


.side-menu-mobile ul li{
    width: 100%;
    padding: 10px 30px;
}

.side-menu-mobile .nav-search input{
    padding-left: 10px;
}

.side-menu-mobile .nav-search button{
    right: 20px;
    padding: 5px 10px;
    font-size: 20px;
    font-family: Gilroy-Bold;
}

.size-side{
    width: 350px;
}

/* css view cart */

.cart-main{
    margin: 60px 0;
}

.cart-code-sale{
    padding: 15px 35px 30px;
    border: 2px #ebebeb dashed;
    margin-bottom: 30px;
}

.cart-code-sale input{
    padding: 23px 15px;
    border: 1px solid #6060604f;
}

.cart-code-sale button{
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cart-totals{
    padding: 15px 35px 30px;
    border: 6px solid;
    border-color: #ebebeb;
}

.cart-code-sale h2,
.cart-totals h2{
    font-family: Gilroy-Bold;
    text-transform: uppercase;
    color: #252525;
    font-size: 21px;
    margin: 0;
    padding: 10px 0 15px 0;
    display: block;
    border-bottom: 2px solid #6060604f;
}

.cart-code-sale h2{
    border: none;
}

.cart-totals table{
    width: 100%;
}

.cart-totals .cart-subtotal{
    width: 100%;
    border-bottom: 1px solid #6060604f;
    color: #252525;
}

.cart-totals .cart-out-price td,
.cart-totals .cart-subtotal td{
    float: right;
    padding: 15px 0;
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.cart-totals .cart-out-price td{
    font-size: 14px;
}

.cart-totals .order-total{
    width: 100%;
    border-top: 1px solid #6060604f;
    color: #252525;
    font-size: 20px;
    font-family: Gilroy-Bold;
}

.cart-totals .order-total td{
    float: right;
    padding: 20px 0;
    color: #EB4D36;
}

.proceed-to-checkout{
    width: 100%;
}

.proceed-to-checkout a{
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
}

.proceed-to-checkout a:hover{
    color: #e0e0e0;
}

.table-cart{
    width: 100%;
}


.table-cart th{
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gilroy-Bold;
    color: #000;
    letter-spacing: 1px;
    border-bottom: 1px solid #6060604f;
    padding: 20px 0;
}

.table-cart td{
    border-top: 1px solid #6060604f;
}

.table-cart tr{
    margin-top: 20px;
    overflow: hidden;
    clear: both;
}

.table-cart tr td{
    vertical-align: middle;
}

.table-cart a{
    color: #000;
}

.table-cart .image-product{
    width: 80px;
}

.table-cart img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 30px 10px 30px 0;
}

.table-cart .name-product{
    /* width: 300px; */
}

.table-cart h4{
    font-size: 16px;
    color: #000;
    /* width: 300px; */
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    margin-right: 0;
}

.table-cart h4 a:hover{
    color: #EB4D36;
}

.table-cart span{
    font-family: Gilroy-Bold;
    color: #000;
}

.table-cart .price{
    font-family: Gilroy;
}

.table-cart input{
    width: 50px;
    color: #000;
    font-family: Gilroy-Bold;
    padding: 3px 5px;
    border: 2px solid #6060604f;
    border-radius: 5px;
}