* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  	font-family: Teko;
  	src: url(../fonts/teko/Teko-Regular.ttf);
}
@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Light.otf);
}
@font-face {
	font-family: Gilroy-Bold;
	src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Teko-Bold;
  src: url(../fonts/teko/Teko-Bold.ttf);
}
@font-face {
  font-family: Teko-Light;
  src: url(../fonts/teko/Teko-Light.ttf);
}
@font-face {
  font-family: Teko-SemiBold;
  src: url(../fonts/teko/Teko-SemiBold.ttf);
}
@font-face {
  font-family: Teko-Medium;
  src: url(../fonts/teko/Teko-Medium.ttf);
}
@font-face {
  font-family: Teko-Regular;
  src: url(../fonts/teko/Teko-Regular.ttf);
}
body {
	color: #626262;
	font-family: Gilroy;
  line-height: 1.618;
  background-color: #fff;
}
.clearfix {
  overflow: hidden;
  clear: both;
}


