@media only screen and (max-width: 500px){
    .footer-payment img{
        width: 250px;
        margin-top: 10px;
    }
    .footer-brand {
        text-align: center;
    }
    .footer-nav {
        text-align: center;
    }
    .footer-social {
        text-align: center;
    }
    .footer-ns {
        text-align: center;
    }
    
    .res1{
        width: 100%;
    }

    .t_WCU {
        margin-left: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .t_social {
        padding-right: 200px;
    }
    .wcu_container h1{
        padding-left: 0px;
    }

}
@media only screen and (max-width: 980px){
    .t_WCU {
        text-align: center;
    }
}
@media only screen and (max-width: 989px){
    .t_WCU {
        text-align: center;
    }
}
@media only screen and (max-width: 768px){
    .t_WCU {
        text-align: center;
    }
}

@media only screen and (max-width: 600px){
    .t_WCU {
        text-align: center;
    }
    
}
@media only screen and (max-width: 700px){
    .t_WCU {
        text-align: center;
    }
}
@media only screen and (max-width: 1068px){
    .t_WCU {
        text-align: center;
    }
}
@media only screen and (max-width: 1186px){
    .t_WCU {
        text-align: center;
    }
    .t_social{
        padding-left: 40px;
    }
}
@media only screen and (max-width: 430px){
    .t_WCU {
        margin-left: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .t_teamicon{
        margin: 0px auto;
        overflow: hidden;
        width: 200px;
    }
    .wcu_container h1{
        padding-left: 0px;
    }
        
    .t_teamicon nav ul li {
        
        margin: 0px auto;
        padding: 0px;
        text-align: center;
        
    }
    .t_team p{
        padding: 0px;
        margin-bottom: 20px;
    }
    .t_team{
        border: 1px solid #d4d0d0;
        padding: 10px;
        margin-bottom: 10px;
    }


}
@media only screen and (max-width: 400px){
    .footer-payment img{
        width: 200px;
    }
    .t_WCU {
        margin-left: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .t_social {
        padding-right: 45px;
    }
    .wcu_container h1{
        padding-left: 0px;
    }
        
}
@media only screen and (max-width: 350px){
    .t_WCU {
        margin-left: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .t_social {
        padding-right: 0px;
    }
    .wcu_container h1{
        padding-left: 0px;
    }
        
}
@media only screen and (max-width: 950px){
    .t_ctc {
      margin:auto;
    }      
}
/* @media only screen and (max-width: 500px){
    .t_frame{
        width: 700px;
    }
} */
@media only screen and (max-width:425px){
    .t_form {
        margin-top: 60px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .t_ctc {
         padding-left: 0;
    }
}
@media only screen and (max-width:768px){
    
        .t_form {
            margin-top: 60px;
            padding-left: 15px;
            margin-bottom: 20px;
        }
        .t_ctc {
             padding-left: 0;
        }
    
}
@media only screen and (min-width:707px){
    .t_contact .t_ctc {
        /* flex-grow: 10; */
        display: flex;
        margin: auto;
        float: left;
        /* width: 200px; */
        margin: 0 30px;
    }
}
@media only screen and (max-width:706px){
    .t_contact .t_ctc {
        /* flex-grow: 10; */
        display: flex;
        margin: auto;
        /* float: left; */
        width: 261px;
        /* margin: 0 30px; */
    }
    .t_contact .t_ctc .cnt{
        width: 200px;
    }
    .t_ctc h4 {
        margin: 0px;
        margin-bottom: 10px;
        font-weight: 1000;
        color: #000;
        width: 171px;
    }
}


