@media only screen and (max-width: 500px){
    .footer-payment img{
        width: 250px;
        margin-top: 10px;
    }
    .footer-brand {
        text-align: center;
    }
    .footer-nav {
        text-align: center;
    }
    .footer-social {
        text-align: center;
    }
    .footer-ns {
        text-align: center;
    }
    .footer-brand i{
        /* margin-left: 30px; */
    }
    .res1{
        width: 100%;
    }
}
@media only screen and (max-width: 1000px){
    .t_frame{
        display: inline;
    }
}