<!-- Modal Login -->
<div class="modal fade" id="modal-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">close</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign in</h4>
            </div>
            <div class="modal-body modal-user">
                
                <form class="form-site" action="" method="POST" role="form">
                
                    <div class="form-group">
                        <label for="">Username or email <span>*</span></label>
                        <input type="text" name="username" placeholder="...">
                    </div>
                
                    <div class="form-group">
                        <label for="">Password <span>*</span></label>
                        <input type="password" name="password" placeholder="...">
                    </div>

                    <p><a href="">
                        Lost your password?
                    </a></p>
                
                    <button type="submit" class="btn-site">Login</button>

                    <button type="submit" class="btn-site-outline">Create account</button>
                    
                </form>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal Seach -->
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">close</span></button>
                <h4 class="modal-title" id="myModalLabel">Seach</h4>
            </div>
            <div class="modal-body">
                
                <div class="nav-search clearfix">
                    <form method="get">
                        <label class="screen-reader-text"><i class="ion-ios-search"></i></label>
                        <input type="text" class="search-field" placeholder="Search products…" value="" name="s">
                        <button type="submit" class="btn-site" value="Search">Search</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="side-nav-cart side-nav">

    <div class="side-list-cart">

        <div class="side-header clearfix">
            <h4>shopping cart</h4>
            <a href="javascript:void(0)" ng-click="close_cart()" class="close-side-cart">
                <span>close</span>                        
            </a>
        </div>

        <p class="cart-empty">No products in the cart.</p>

        <div id="" class="list-cart-child clearfix">
            <ul>

                <li ng-repeat="c in carts">
                    <div>
                        <a ng-click="remove_cart(c.Id)" href="">
                            <b class="ion-ios-close-outline"></b>
                        </a>
                    </div>
                    <div>
                        <img src="{{c.Images[1]}}" alt="">
                    </div>
                    <div class="cart-info-product">
                        <h4>{{c.Name}}</h4>
                        <p>{{c.quantity}} <i class="ion-android-close"></i> <span>$ {{c.Price | currency:"":2}}</span></p>
                    </div>
                </li>

            </ul>
        </div>

        <div class="footed-cart clearfix">
            <h4>subtotal <span>$ {{carts_total | currency:"":2}}</span></h4>
            <button class="btn-site"><a href="view-cart.html">View cart</a></button>
        </div>
    </div>
</div>

<div class="side-nav-menu-mobile side-nav">

    <div class="side-list-cart">

        <div class="side-header clearfix">
            <h4>Menu</h4>
            <a href="javascript:void(0)" ng-click="close_menu_mobile()" class="close-side-mobile-menu">
                <span>close</span>                        
            </a>
        </div>

        <div class="side-menu-mobile">
            <ul class="nav navbar-nav menu-block">
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="shop.html">Shop</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="" data-toggle="modal" data-target="#modal-user">Login</a>
                </li>
                <li>
                    <a href="">Cart</a>
                </li>
                <li>
                    <div class="nav-search clearfix">
                        <form method="get">
                            <!-- <label class="screen-reader-text"><i class="ion-ios-search"></i></label> -->
                            <input type="text" class="search-field" placeholder="Search..." value="" name="s">
                            <button type="submit" class="btn-site" value="Search">
                                <i class="ion-ios-search"></i>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>