<section>
    <div class="container-fuild">
        <div class="row h_rowtren h_responsive">
            <div class="h_titleshop ">
                <div class="h_titleshop_left">
                    <a href="">Your Cart</a>
                </div>
                <div class="h_titleshop_right">
                    <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    <span><i class="fa fa-angle-right" aria-hidden="true"></i> Cart</span>
                </div>
            </div>
        </div>

        <div class="container-fluid cart-main">
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

                    <div class="view-content">
                        <table class="views-table cols-6 table-cart">
                            <thead>
                                <tr>                                        
                                    <th class="views-field "></th>
                                    <th class="views-field "></th>
                                    <th class="views-field views-field-field-name">Product</th>
                                    <th class="views-field views-field-field-price">Price</th>
                                    <th class="views-field views-field-quantity">Quantity</th>
                                    <th class="views-field views-field-commerce-total">Subtotal</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in carts" class="odd views-row-first views-row-last">
                                    <td class="views-field remove-product">
                                        <a ng-click="remove_cart(c.Id)" href="">
                                            <b class="ion-ios-close-outline"></b>
                                        </a>
                                    </td>
                                    <td class="views-field image-product">
                                        <img src="{{c.Images[1]}}" alt="">
                                    </td>
                                    <td class="views-field views-field-field-colour name-product">
                                        <h4><a href="">
                                            {{c.Name}}
                                        </a></h4>
                                    </td>
                                    <td class="views-field views-field-field-size price-product">
                                        <span class="price">${{c.Price | currency:"":2}}</span>
                                    </td>
                                    <td class="views-field views-field-quantity quantity-product">
                                        <input type="number" value="{{c.quantity}}">
                                    </td>
                                    <td class="views-field views-field-commerce-total subtotal-product">
                                        <span>$ {{c.subtotal_price | currency:"":2}}</span>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <div class="cart-code-sale">
                        <h2>Coupon code</h2>

                        
                        <form action="" method="POST" role="form">
                        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Coupon code">
                            </div>
                        
                            <button type="submit" class="btn-site">Apply</button>
                        </form>
                        
                    </div>

                    <div class="cart-totals">

                        <h2>Cart totals</h2>
                    
                        <table cellspacing="0" class="shop_table shop_table_responsive">
                    
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td data-title="Subtotal"><span class="Price-currencySymbol">$</span>191.23</span></td>
                            </tr>

                            <tr class="cart-out-price">
                                <th>Shipping</th>
                                <td data-title="Subtotal">+ <span class="Price-currencySymbol">$</span>0.00</td>
                            </tr>

                            <tr class="cart-out-price">
                                <th>Code Sale</th>
                                <td data-title="Subtotal">- <span class="Price-currencySymbol">$</span>0.00</td>
                            </tr>

                            <tr class="order-total">
                                <th>Total</th>
                                <td data-title="Total"><strong><span class="Price-currencySymbol">$</span>191.23</strong> </td>
                            </tr>
                            
                        </table>
                    
                        <div class="proceed-to-checkout">
                            
                            <a href="#/checkout" class="btn-site">
                            checkout</a>
                        </div>
                    
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>