<div class="slides">
    <div class="car-slides">
        
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" src="images/footer.jpg">
                    <div class="container">
                        
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" src="images/footer2.jpg">
                    <div class="container">
                        
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" src="images/footer4.jpg">
                    <div class="container">
                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>

<div>
    
    <div class="row header-child">
        
        <div class="block-column-wrap col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="block-widget-wrap">
                <div class="img-hover-zoom">
                    <img src="images/footer3.jpg" alt="This zooms-in really well and smooth">
                </div>

                <div class="text-widget">
                    <p>Special Products</p>
                    <div class="main-text-widget">
                        <h2>KEEP YOUR FEET</h2>
                        <h2><b>COOL AND Comfy</b></h2>
                    </div>
                    <a href="#"><b>Shop Now</b></a>
                </div>
            </div>
        </div>

        <div class="block-column-wrap col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="block-widget-wrap">
                <div class="img-hover-zoom">
                    <img src="images/footer5.jpg" alt="This zooms-in really well and smooth">
                </div>   
                
                <div class="text-widget">
                    <p>Special Products</p>
                    <div class="main-text-widget">
                        <h2>KEEP YOUR FEET</h2>
                        <h2><b>COOL AND Comfy</b></h2>
                    </div>
                    <a href="#"><b>Shop Now</b></a>
                </div>
            </div>
        </div>

        <div class="block-column-wrap col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="block-widget-wrap">
                <div class="img-hover-zoom">
                    <img src="images/footer3.jpg" alt="This zooms-in really well and smooth">
                </div>

                <div class="text-widget">
                    <p>Special Products</p>
                    <div class="main-text-widget">
                        <h2>KEEP YOUR FEET</h2>
                        <h2 ><b>COOL AND Comfy</b></h2>
                    </div>
                    <a href="#"><b>Shop Now</b></a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>

<!-- HUNG -->
<section id="h_section">
    <div>
        <div class="h_titleproduct" style="background-image: url(images/hungimges/text_products.png);background-position: top center;padding: 25px 0 0 0;">
            <div class="row clearfix">
                <ul>
                    <li class="h_moc">
                        <a class="selected" ng-click="sort_cart($event)" href="" data-class="itemx">All</a>
                    </li>

                    <li><i class="fas fa-circle" style="color: black ;font-size: 15px;"></i></li>
                    <li ><a ng-click="sort_cart($event)" href="" data-class="sun_glass">Featured</a></li>

                    <li><i class="fas fa-circle" style="color: black ;font-size: 15px;"></i></li>
                    <li><a ng-click="sort_cart($event)" href="" data-class="contact_glass">New Arrivals</a></li>

                    <li><i class="fas fa-circle" style="color: black ;font-size: 15px;"></i></li>
                    <li><a ng-click="sort_cart($event)" href="" data-class="vr_glass">Best Sellers</a></li>
                </ul>
            </div> 
        </div>
        <div class="h_allproduct">
            <div class="row clearfix">
                
                <div ng-repeat="pro in product" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 itemx {{pro.Slug_Cat}}">
                    <div class="item clearfix ">
                        <div class="anhduoi responsive">
                            <div class="h_anhtren">
                                <img src="{{pro.Images[1]}}" alt="">
                            </div>
                            <div class="h_3icon">
                                <nav>
                                    <ul>
                                        <li class="nut1" data-hieuung="tooltip" title="Add to compare"><a ng-click="add_compare(pro)" data-toggle="modal" data-target="#modal-compare"><i class='fas fa-exchange-alt' style='font-size:18px'></i></a></li>
                                        <li class="nut2" data-hieuung="tooltip" title="Quick view"><a ng-click="view_product(pro)" href="#!product"><i class="fas fa-eye" style='font-size:18px'></i></a></li>
                                        <li class="nut3" data-hieuung="tooltip" title="Add to cart"><a ng-click="add_cart(pro)" href=""><i class='fas fa-shopping-cart' style='font-size:18px'></i></a></li>
                                    <ul>
                                </nav>
                            </div>
                            <div class="h_lopmo"></div>
                            <div class="h_anhduoi">
                                <img src="{{pro.Images[2]}}" class="responsive" alt="">
                            </div>
                        </div>
                        <div class="h_namecate">{{pro.Category}}</div>
                        <div class="h_namepro"><a ng-click="view_product(pro)" href="#!product">{{pro.Name}}</a></div>
                        <div class="h_price"><b>$ {{ pro.Price | currency:"":2}}</b></div>
                        <div class="h_add clearfix"><a href="" ng-click="add_cart(pro)">Add Cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>

<div class="t_blockquote">
    <p class="mb-0">NEED-IT-NOW SALE <strong>60% OFF</strong> CLEARANCE IN STORES & ONLINE</p>
</div>

<!-- THANG -->
<section>
    <div class="t_titlecat clearfix" style="height: 100px;">
        <div class="row">
            <h3>CATEGORIES</h3>
        </div> 
    </div>
    <div>
            
        <div class="row t_header-child">
            
            <div class="t_block-column-wrap col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <div class="res1">
                <div class="t_block-widget-wrap">
                    <div class="t_img-hover-zoom">
                        <img src="images/thangimages/cat1.jpg" alt="This zooms-in really well and smooth">
                    </div>
                    
                        <div class="t_text-widget">
                       
                            <div class="t_main-text-widget">
                                <h4><a>Sun Glasses</a></h4>
                                <p>11 Products</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="t_block-column-wrap col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="res2">
                <div class="t_block-widget-wrap">
                    <div class="t_img-hover-zoom">
                        <img src="images/thangimages/cat2.jpg" alt="This zooms-in really well and smooth">
                    </div>   
                    
                    <div class="t_text-widget">
                        
                        <div class="t_main-text-widget">
                            <h4><a>Contact Lenses</a></h4>
                            <p>35 Products</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="t_block-column-wrap col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="res3">
                <div class="t_block-widget-wrap">
                    <div class="t_img-hover-zoom">
                        <img src="images/thangimages/cat3.jpg" alt="This zooms-in really well and smooth">
                    </div>   
                    
                    <div class="t_text-widget">
                        
                        <div class="t_main-text-widget">
                            <h4><a>Glasses</a></h4>
                            <p>11 Products</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="t_block-column-wrap col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="res4">
                <div class="t_block-widget-wrap">
                    <div class="t_img-hover-zoom">
                        <img src="images/thangimages/cat4.jpg" alt="This zooms-in really well and smooth">
                    </div>

                    <div class="t_text-widget">
                        
                        <div class="t_main-text-widget">
                            <h4><a>VR Glasses</a></h4>
                            <p>9 Product</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
        
    </div>
    
</section>

<!-- NAM -->
<section>
    <div id="n-logoimg">
        <div class="n-logolink"><a href="#"><img class="n-linkimg" src="images/n.image/brand-1.png" alt=""></a></div>
        <div class="n-logolink"><a href="#"><img class="n-linkimg" src="images/n.image/brand-2.png" alt=""></a></div>
        <div class="n-logolink"><a href="#"><img class="n-linkimg" src="images/n.image/brand-3.png" alt=""></a></div>
        <div class="n-logolink"><a href="#"><img class="n-linkimg" src="images/n.image/brand-4.png" alt=""></a></div>
        <div class="n-logolink"><a href="#"><img class="n-linkimg" src="images/n.image/brand-5.png" alt=""></a></div>
    </div>
</section>