<section id="login">
    <div class="container-fuild">
        <div class="row h_rowtren h_responsive">
            <div class="h_titleshop ">
                <div class="h_titleshop_left">
                    <a href="">My account</a>
                </div>
                <div class="h_titleshop_right">
                    <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span> My account
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row">

                <div class="col-md-6 h_login">

                    <form  action="" method="post" id="form_login" name="formLogin">
                        <h2>Login</h2>
                        <label>Username or email address <span>*</span></label>
                        <input class="email"type="email" name="email" required ng-model="formLogin.login_email">
                        <label for="">Password <span>*</span></label>
                        <input class="pass" type="password" name="password" required ng-model="formLogin.login_pass">
                        <button type="button" ng-click="login(formLogin)" ng-disabled="formLogin.email.$error.requied || formLogin.email.$error.email || formLogin.password.$error.requied">Login</button>  
                        
                    </form>
                    <input type="checkbox"> Remember me
                    <a href="" class="h_lyp">Last your password ?</a>
                </div>

                <div class="col-md-6 h_register" id="form_register">
                    <form action="" method="post" name="formRegister">
                        <h2>Register</h2>
                        <label>Email <span>*</span></label>
                        <input class="email" type="text" name="email" required ng-model="formRegister.Register_email">

                        <label for="">Name <span>*</span></label>
                        <input class="name" type="text" name="name" required ng-model="formRegister.Register_name">

                        <label>Password <span>*</span></label>
                        <input class="pass" type="password" name="password" required ng-model="formRegister.Register_pass">

                        <label for="">Re-password <span>*</span></label>
                        <input class="re_pass" type="password" name="repassword" required ng-model="formRegister.ReRegister_pass">
                        
                        <p>A password will be sent to your email address</p>
                        <button type="button" ng-click="Register(formRegister)" ng-disabled="formRegister.email.$error.requied || formRegister.email.$error.email || formRegister.password.$error.requied">register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>